@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
}

.navbarglow {
  box-shadow: 0px 1px 10px #7396b8;
}

.navBar {
  background-color: darkslategrey;
}

.card-1, .card-2 {
  background-color: darkslategrey;
}

.mintInput {
  box-shadow: 0px 1px 10px #7396b8;
  background-color: darkslategrey;
  width: 50px;
}


.font-1{
  font-family: "Waterfall", sans-serif;
  font-size: 30px;
  color: aliceblue;
  margin-left: 150px;
}

.font-2 {
  font-family: "Waterfall", sans-serif;
    font-size: 30px;
    color: aliceblue;
}

.button {
  margin-left: 70px;
}

/* error page start */ 

 .error {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434
}

.error-1 {
  font-size: 160px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
  background: url(./image/bg.jpg) center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.error-2 {
  text-decoration: none;
  background: #e55039aa;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
}

.error-2:hover {
  background: #e55039;
} 

/* error page end */




